{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<form  method="post">
    {% csrf_token %}
    <div class="form-group container">
         <h1>New Post</h1>
         <hr>
         {{form|crispy}}
         <button type="submit" class="btn btn-success my-4">Save</button>
        </div>
 </form>
 <script>var editor = new MediumEditor('.editable', {
    toolbar: {
        /* These are the default options for the toolbar,
           if nothing is passed this is what is used */
        allowMultiParagraphSelection: true,
        buttons: ['bold', 'italic', 'underline', 'anchor', 'h2', 'h3', 'quote'],
        diffLeft: 0,
        diffTop: -10,
        firstButtonClass: 'medium-editor-button-first',
        lastButtonClass: 'medium-editor-button-last',
        relativeContainer: null,
        standardizeSelectionStart: false,
        static: false,
        /* options which only apply when static is true */
        align: 'center',
        sticky: false,
        updateOnEmptySelection: false
    }
});</script>


{% endblock body %}